{% load staticfiles %}

<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/stock_simulator.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/stock_simulator.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/portfolios/portfolios.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/portfolios/controllers/portfolios.controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/portfolios/services/portfolios.services.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/portfolios/directives/portfolios.directives.js' %}"></script>