<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1>World's simplest and fastest stock simulator.</h1>
      <p>Build portfolios and trade securities in real time powered by Yahoo Finance.</p>
      <p><a class="btn btn-primary btn-lg" href="/#/register/" role="button">Register</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Rules/Help:</h3>
      <ul>
        <li>
          All portfolios start with $100,000. You can create an unlimited number of portfolios.
        </li>
        <li>
          Valid securities you can buy are tickers appearing on Yahoo Finance without punctuation.
          This limits you to mostly U.S. securities.
        </li>
        <li>
          Shorting IS allowed on all securities. To short, place a "Sell" transaction of a security
          you don't own.
        </li>
        <ul>
          <li>
            Your total equity must be > 150% of your short exposure. With $100,000 in equity, your
            maximum short exposure is $200,000.
          </li>
        </ul>
        <li>
          Currently no dividends are being paid out on any securities that pay dividends.
        </li>
      </ul>
  </div>
  <div class="col-xs-12">
    <h3>About this Project:</h3>
      <ul>
        <li>
          Stock Simulator is written and maintained by Allen Lin (allenlin1992@hotmail.com).
        </li>
        <li>
          It is an open source project hosted at
          <a href="https://github.com/azflin/stock_simulator">
            https://github.com/azflin/stock_simulator
          </a>.
        </li>
        <li>
          Front end is powered by AngularJS and backend is powered by Django.
        </li>
      </ul>
  </div>
</div>