<!-- Only show detail if no error message. Error message appears
when someone navigates to invalid portfolioID. -->
<div ng-show="!errorMessage">
  <!-- Main page header-->
  <div class="row">
    <div class="col-xs-12">
      <h1 style="display: inline;">{{ portfolio.name }} by {{ userID }}</h1>
      <!-- New Transaction button to trigger modal -->
      <button type="button" class="btn btn-success pull-right" ng-show="isPageOwner" data-toggle="modal" data-target="#newTransactionModal">New Transaction</button>
    </div>
  </div>
  <!-- New Transaction Modal -->
  <div id="newTransactionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Overall Return, Portfolio Value, and Creation Date row-->
  <div class="row">
    <div class="col-xs-4">
      <h4>Overall Return:</h4>
    </div>
    <div class="col-xs-4">
      <h4>Portfolio Value:</h4>
    </div>
    <div class="col-xs-4">
      <h4>Creation Date:</h4>
      <h4>{{ portfolio.created | date:'MM/dd/yyyy'}}</h4>
    </div>
  </div>
  <!-- Holdings-->
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Holdings</h3>
        </div>
        <table class="table">
          <thead>
            <th>Ticker</th>
            <th>Quantity</th>
          </thead>
          <tbody>
            <tr ng-repeat="stock in portfolio.stocks">
              <td>{{ stock.ticker }}</td>
              <td>{{ stock.quantity }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Transactions-->
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Transactions</h3>
        </div>
        <table class="table">
          <thead>
            <th>Ticker</th>
            <th>Side</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Date</th>
          </thead>
          <tbody>
            <tr ng-repeat="transaction in transactions">
              <td>{{ transaction.ticker }}</td>
              <td>{{ transaction.transaction_type }}</td>
              <td>{{ transaction.quantity }}</td>
              <td>{{ transaction.price }}</td>
              <td>{{ transaction.time | date:'MM/dd/yyyy H:mm'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- Error message goes here.-->
  <div class="col-md-12" ng-show="errorMessage">
    <h3><span class="glyphicon glyphicon-remove-circle"></span> Error: This portfolio could not be found.</h3>
  </div>
</div>